<div>
  <h1>Datelhes do Funcionário</h1>
</div>

<div *ngIf="funcionario">
  <form action="">
    <div class="input-box">
      <label for="">Nome</label>
      <input type="text" value="{{ funcionario.nome }}" />
    </div>
    <div class="input-box">
      <label for="">Sobrenome</label>
      <input type="text" value="{{ funcionario.sobrenome }}" />
    </div>
    <div class="input-box">
      <label for="">Departamento</label>
      <input type="text" value="{{ funcionario.departamento }}" />
    </div>
    <div class="input-box">
      <label for="">Situação</label>
      <input type="text" value="{{ funcionario.ativo }}" />
    </div>
    <div class="input-box">
      <label for="">Turno</label>
      <input type="text" value="{{ funcionario.turno }}" />
    </div>
    <div class="input-box">
      <label for="">Data De Criação</label>
      <input type="text" value="{{ funcionario.dataDeCriacao }}" />
    </div>
    <div class="input-box">
      <label for="">Data de Alteração</label>
      <input type="text" value="{{ funcionario.dataDeAlteracao }}" />
    </div>

    <div class="btn-box">
      <button>Inativar</button>
      <button routerLink="">Voltar</button>
    </div>
  </form>
</div>
