<mat-card>
  <div>
    <h1>Datelhes do Funcionário</h1>
  </div>

  <div *ngIf="funcionario">
    <form action="">
      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Nome</mat-label>
          <input matInput type="text" disabled value="{{ funcionario.nome }}" />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Sobrenome</mat-label>
          <input
            matInput
            type="text"
            disabled
            value="{{ funcionario.sobrenome }}"
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Departamento</mat-label>
          <input
            matInput
            type="text"
            disabled
            value="{{ funcionario.departamento }}"
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Situação</mat-label>
          <input
            matInput
            type="text"
            disabled
            value="{{ funcionario.ativo == true ? 'ativo' : 'Inativo' }}"
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Turno</mat-label>
          <input
            matInput
            type="text"
            disabled
            value="{{ funcionario.turno }}"
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Data De Criação</mat-label>
          <input
            matInput
            type="text"
            disabled
            value="{{ funcionario.dataDeCriacao }}"
          />
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Data de Alteração</mat-label>
          <input
            matInput
            type="text"
            disabled
            value="{{ funcionario.dataDeAlteracao }}"
          />
        </mat-form-field>
      </div>

      <div class="btn-box">
        <button mat-raised-button color="warn" (click)="InativaFuncionario()">
          Inativar
        </button>
        <button mat-raised-button routerLink="">Voltar</button>
      </div>
    </form>
  </div>
</mat-card>
