.mat-mdc-button-base{
    margin: 8px 8px 0px 0px;
}

mat-card{
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
    margin: 3rem;
    overflow: hidden;
}